.App {
  text-align: center;
}

input[type=text] {
  border: none;
  border-bottom: 2px solid rgba(0,0,255,0.5);
  font-size: 4vh;
  background-color: rgba(0,0,155,0.05);
  Color: yellow;
  text-align: center;
}

.App-background {
  z-index: -1000;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin-bottom: -99vh;
}

.App-search {
  font-size: large;
  margin-top: 24px;
}

.App-results {
  display: flex;
  flex-direction: column;
  margin-left: 2.5vw;
  margin-top: 1.5vh;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 80vh;
}

.MoviePicture img {
  width: 160px;
}

.MovieDescription {
  width: 160px;
  background: rgba(25, 15, 0, 0.9);
  height: 242px;
  overflow: hidden;
}

.App-logo {
  display:none;
}

.MoviePicture img {
  border: 1px dotted black;
  margin: 0;
  padding: 0;
}

.MovieDescription div {
  text-align: center;
}

.MovieDescription div.MovieOverview {
  text-align: justify;
  padding: 12px;
  margin: 0;
  font-size: 2vw;
}

.MovieTitle h2 {
  color: greenyellow;
}

.MovieTitle h3 {
  color: yellow;
}

.MovieDescription div.MovieReleaseDate {
  flex: 1 40%;
}

.MovieDescription div.MovieAverage {
  flex: 2 40%;
}

.MovieCard {
  display: flex;
  margin: 20px;
  padding: 0;
}

.Value {
  color: white;
  font-weight: bolder;
  font-size: 2.5vw;
}

@media screen and (min-width: 769px) {
  .App-header-background {
    background-color: #eda;
    height: 160px;
    padding: 0;
    margin: 0;
    margin-bottom: -189px;
    opacity: 0.3;
  }

  .App-logo {
    display: inline;
    height: 560px;
    margin-left: 320px;
    padding: 0;
  }

  .App-header {
    height: 220px;
    padding: 0;
    padding-top: 30px;
    margin: 0;
    color: #8c2c2c;
  }

  .App-header h1 {
    padding: 0;
    margin-top: -470px;
  }

  .App-results {
    flex-direction: row;
    width: 95vw;
    height: 61vh;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .MoviePicture {
    width: 320px;
    background: rgba(0,55,55,0.4);
    color: silver;
    margin: 0;
  }

  .MoviePicture img {
    width: 320px;
  }

  .MovieDescription {
    width: 320px;
    color: silver;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    height: 100%;
  }

  .MovieDescription div.MovieOverview {
    max-height: 28vh;
    overflow-y: hidden;
  }

  .MovieDescription div.MovieOverview,
  .Value {
    font-size: 2vh;
  }

  .MovieTitle {
    flex: 1 100%;
  }
}